PyJWT~=1.7.1
numpy~=2.2.3
pillow~=11.1.0
pip~=24.2
attrs~=25.3.0
pytz~=2025.1
PyYAML~=6.0.2
Django~=5.1.6
asgiref~=3.8.1
sqlparse~=0.5.3
colorama~=0.4.6
requests~=2.32.3
djangorestframework~=3.14.0
packaging~=24.2
inflection~=0.5.1
uritemplate~=4.1.1
referencing~=0.36.2
jsonschema~=4.23.0
idna~=3.10
jsonschema-specifications~=2025.4.1
typing_extensions~=4.12.2
drf-spectacular~=0.27.1
django-extensions~=3.2.3
djangorestframework-jwt~=1.11.0
djangorestframework-simplejwt~=5.3.1
drf-yasg~=1.21.7